header, #details, #project, #project, #citation {
    text-align: center;
}

.navbar-toggler {
    border-color: #00e0d0!important;
}

header {
    background-image: url("../img/header-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    min-height: 670px;
    height: auto;
}

.banner {
    margin-top: 200px;
}

.crop-navbar {
    padding: .5rem 20% 0.5rem 20%!important
}

nav {
    text-transform: uppercase;
    font-weight: bolder;
    background: #171039;
}

.link, .link:hover {
    color: #00e0d0!important;
}

#description>.container>.row>.col-md-12>p {
    font-size: 1.5rem;
}

.logo {
    width: 115px;
    height: 90px;
}

.col-md-12 > hr,.container > hr {
    border-top: 1px solid #00e0d0!important;
    max-width: 50px;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    color: #ffffff!important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.nav-link:hover {
    color: #00e0d0!important;
}

#featured_content {
    display: block;
    height: 550px;
    background-color: #ccc;
    background-image: url("../img/video-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#video.active {
    background-color: white;
    border: 2px solid #eee;
}

.details {
    border-top: 2px solid #c6c4c9;
    width: 50px;
}

.expertise {
    padding: 40px;
}

#details>img {
    padding: 17px;
}

h5 {
    text-transform: uppercase;
    padding: 17px;
}

.expertise>p {
    width: 80%;
    margin: auto;
}

#project {
    display: block;
    height: auto;
    
    padding: 75px 0 50px 0;
}

#project{
    background-color: #ccc;
    background-image: url("../img/team-background.jpg");
    background-repeat: repeat-y;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
}

/* #project>.container>.row {
    margin: 45px 0 45px 0;
} */

.bord {
    border: 1px solid gray;
}

.bord>p {
    color: #cccccc;
}

.img {
    width: 100%;
    height: 230px;
    background-color: white;
}




.right {
    vertical-align: middle;
    margin-left: 5px;
}

.no-padding {
    padding: 0 !important;
}

.no-padding>img {
    width: 100%;
}

.load {
    margin-top: 70px;
}

#citation {
    min-height: 500px;
}

#citation>.container>.row>img {
    display: block;
    margin: auto;
    padding: 70px 0 40px 0;
}

#citation>.container>.row>.col-md-12>p {
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.bullet>img {
    margin: 7.5px
}

.car {
    max-height: 50px;
    max-width: 50px;
    display: block;
    margin: auto;
}

input, textarea {
    width: 100%;
    margin: 11px 0 11px 0!important;
    padding: 18px;
}

button {
    margin: 10px;
    width: auto;
    height: auto;
    padding: 14px 32px 14px 32px;
    border: 1px solid #00e0d0;
    border-radius: 4%!important;
    background-color: transparent;
    background-image: none;
    color: #00e0d0;
    font-weight: bolder;
    text-transform: uppercase!important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

button:hover {
    background-color: #00e0d0;
    color: #ffffff;
}

.news {
    width: 70%;
    background-color: transparent;
    padding: 20px;
}

.send {
    margin-left: 2%;
    width: 20%;
    min-height: 68px;
    vertical-align: middle;
    border: transparent;
    background-color: #ffffff;
    background-image: url("../img/footer/plane.png");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
}

footer {
    color: #ffffff;
    background-image: url("../img/footer-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
    min-height: 400px;
}

.col-md-6>img {
    margin: 25px!important;
}

.center {
    text-align: center;
}

.left {
    margin-left: -15px;
}

section {
    margin: 75px 0 75px 0;
}

.col-md-7>h2 {
    padding: 30px 0 30px 0;
}

.expertise>img {
    min-height: 50px
}

footer>.container>.row>.col-md-4 {
    margin-top: 90px;
}

footer>.container>.row>.col-md-4>img, footer>.container>.row>.col-md-4>p {
    margin-bottom: 25px;
}

footer>.container>.row>.col-md-4>h4 {
    margin-bottom: 40px;
}

footer>.container>.row>.col-md-4>nav, footer>.container>.row>.col-md-4>nav>ul>li>a {
    padding: 0!important;
    margin-right: 16px;
}

footer>.container>.row>.col-md-4>nav>ul>li>a {
    margin-top: 50px;
}

footer>.container>.row>.col-md-4>img {
    margin-right: 8px;
}

.floating {
    float: left;
}

.floating-adjust {
    padding-left: 35px;
}

.align-right {
    text-align: right;
}

.col-md-3 {
    margin-bottom: 20px;
}


#gris {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    /* IE */
    -moz-opacity: 0.5;
    /* Firefox */
    opacity: 0.5;
    /* standard CSS3 */
    -khtml-opacity: 0.5;
    /* Konqueror */
}


.projectText {
    text-align: center;
    padding:0% 10% 0% 10%;
}
.projectButtonGroup{
    margin:10px 5px;
}
.projectFrame > button{
    margin:5px;
}
.projectButtonGroup > button{
    margin:5px 5px;
}
/* Modifier la classe CSS sans limite de taille et retravailler les images sur toshop */
.project-img {
    max-width: 160px;
    max-height: 160px;
    min-width: 140px;
    margin: 5px 5px 20px 5px
}

.bigText{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bolder;
}

.projectButton {
    margin: 10px;
    width: auto;
    height: auto;
    padding: 14px 32px 14px 32px;
    border: 1px solid #00e0d0;
    border-radius: 4%!important;
    background-color: transparent;
    background-image: none;
    color: #00e0d0;
    font-weight: bolder;
    text-transform: uppercase!important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
  }

  .projectButton:hover {
    background-color: #00e0d0;
    color: #ffffff;
    text-decoration: none;
}